<div class="span12">
	<button id="new" class="btn btn-primary">{{label_new}}</button>
	<button id="delete" class="btn btn-danger">{{label_delete}}</button>
	<button id="save" class="btn btn-info">{{label_save}}</button>
	<button id="load" class="btn btn-info">{{label_load}}</button>
</div>
