<div class="span3">
	<div class="well">
		<textarea id="postit-edit-text">{{content}}</textarea>
		<button id="postit-edit-save" class="btn btn-primary">{{label_save}}</button>
		<button id="postit-edit-cancel" class="btn btn-danger">{{label_cancel}}</button>
	</div>
</div>